@use '../abstracts/' as *;

body {
  font-size: fs(400);
  font-weight: $fw-regular;
  font-family: $ff-sans;
  color: clr(neutral, 400);
  background-color: clr(neutral, 100);
  text-align: center;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}
