@use '../abstracts' as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  justify-content: center;

  & > * {
    max-width: 500px;
  }

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
