@use "../abstracts/" as *;

.card {
  position: relative;

  &__desc {
    padding: $card-body-padding-sm;
    text-align: left;
    background-color: rgb(clr(neutral, 900), 0.5);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
  }

//   When the card is hovered the description will show up
  &:hover &__desc{
    opacity: 1;
  }

  & .heading-tertiary {
    text-transform: uppercase;
  }

//   Testimonials
  &[data-shadow="true"]{
    color: clr(neutral, 500);
    line-height: 1.5;
    box-shadow: $box-shadow-1;
  }

  &__text{
    position: relative;
    padding: $card-body-padding;

    // decoration
    &::before{
        --margin: 2rem;
        content: "";
        display: block;
        background-image: url('/src/images/quotation-mark.svg');
        width: 9.3125rem;
        height: 7.1875rem;
        position: absolute;
        top: var(--margin);
        left: var(--margin);
    }
  }

  &__footer{
    background-color: clr(neutral, 200);
    padding-block: size(16);

    p{
        font-size: fs(500);
        font-weight: $fw-bold;
        color: clr(primary, 500);
        margin-block-end: 0;
    }
  }
}
