@use '../abstracts/' as *;

.heading {
  &-primary,
  &-secondary {
    font-family: $ff-serif;

    @include whiteText;
  }

  &-primary {
    @include fontSize(900);
  }

  &-secondary {
    @include fontSize(800);
    color: clr(primary, 500);

    // If there is a subhead after a secondary headline
    & + .subhead {
      @include fontSize(600);
      margin-bottom: 1.75rem;
      margin-top: 1rem;

      // For subheads that are color white
      @include whiteText;

      // For subheads that have a border decoration
      &[data-decoration='true'] {
        &::after {
          content: '';
          display: block;
          width: 10rem;
          height: 1px;
          background-color: currentColor;
          margin-inline: auto;
          margin-block: 2.25rem;
        }
      }
    }
  }

  &-tertiary {
    @include fontSize(500);
    color: clr(neutral, 900);
    font-weight: $fw-bold;
    text-transform: uppercase;

    @include whiteText;
  }
}
