@use '../abstracts/' as *;

.nav {
  &__list {
    --flex-gap: 1.5rem;
    list-style: none;
    font-family: $ff-serif;
  }

  &__item {
    a {
      text-decoration: none;
      color: clr(neutral, 100);
    }
    &:is(:focus, :hover) {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}
